@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navigation .list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
  }
  .address .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 12px;
  }
  .button-mobile-menu {
    display: none;
  }
  .title {
    gap: 48px;
  }
  .title-name {
    max-width: 496px;
  }
  .title .title-name {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
  }

  .advantages-list .item {
    width: calc((100% - 24px) / 2);
  }
  .team.container {
    padding-left: 108px;
    padding-right: 108px;
  }
  .team-list {
    row-gap: 64px;
  }
  .list .team-card-list {
    width: calc((100% - 24px) / 2);
  }
  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .customer-box {
    padding-left: 108px;
    padding-right: 108px;
  }
  .footer-container.container {
    padding-left: 108px;
    padding-right: 108px;
    justify-content: flex-start;
  }
  .footer-sabs-box {
    width: auto;
  }
  .footer-logo-box {
    align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-social {
    align-items: flex-start;
    margin-bottom: 0;
  }
  .subscribe-footer {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  label.label-footer {
    min-width: 264px;
  }
  .label-footer-text {
    text-align: start;
  }
  .portfolio-main {
    padding: 64px 0 96px 0;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio .list-buttons {
    justify-content: center;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .address .list {
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
  }
  .icon-box {
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
  }
  .title-main {
    padding: 188px 0;
  }
  .advantages-main {
    padding: 120px 0;
  }
  .advantages-list .item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .advantages-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .work-main {
    display: block;
    padding-bottom: 120px;
  }
  .team-main {
    padding: 120px 0;
  }
  .team.container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .list .team-card-list {
    width: calc((100% - 3 * 24px) / 4);
  }
  .customers-section {
    padding: 120px 0;
  }
  .customers-item {
    width: calc((100% - 5 * 24px) / 6);
  }
  .footer {
    padding: 100px 0;
  }
  .footer-sabs-box {
    margin-right: 0;
    margin-left: auto;
  }
  .footer-container.container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .portfolio-main {
    padding: 100px 0 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .portfolio .list-buttons {
    margin-bottom: 72px;
  }
}
